{% extends 'base.html' %}

{% block content %}
<div class="row">

    <div class="col">
    </div>

    <div class="col-8 my-4">
        <h4>Are you sure you want to delete this Choice?</h4>
        <form method="post" action="{% url 'polls:choice_delete' object.question.id object.id %}">
            {% csrf_token %}
            <h6>{{ object.question.question }}</h6>
            <p>{{ object.choice }}</p>
            <div class="row">
                <div class="col">
                    <a href="{% url 'polls:poll_detail' object.question.id %}" class="btn btn-outline-primary btn-sm form-control">Cancel</a>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-outline-danger btn-sm form-control">Confirm Delete</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col">
    </div>

</div>
{% endblock content %}